{% extends 'base.html' %}
{% load static %}

{% block title %} Edit {% endblock title %}


{% block content %}
<h1 id = 'h11'>Edit Company Details</h1>
<div id = "123">

</div>
<a hidden id = 'company_details_a' href="{% url 'client_db' %}">Edit Company Details</a></li>


<div id="edit_company_div" style="display:block;border:1px solid black;position:absolute;background: antiquewhite;margin-left: 30%;width: 400px;height: 500px;padding: 30px;">
  <button id='cross_button_form_edit_company_details' onclick="location.href = '{% url 'client_db' %}';" style="float:right" type="button" class=""><span class="glyphicon glyphicon-remove"></span></button>
   
  <form class="" role="search" method='POST'>
      <div class="form-group">
        {% csrf_token %}
        {{edit_company_form.as_p}}
      </div>
      <button type="submit" id = "form_edit_company_details" class="btn btn-primary">Edit</button>
  </form> 
</div>

{% endblock content %}
{% block js %} 
<script src="{% static '/js/edit_company_form.js' %}"></script>
{% endblock js %}
