{% extends 'base.html' %}
{% load static %}

{% block title %} Password Reset {% endblock title %}


{% block content %}
<h2 id = 'h11' style="padding:10px">Reset Your Password</h2>
<div id = "123">

</div>
<a hidden id = 'company_details_a' href="{% url 'client_db' %}">Edit Company Details</a></li>

<div class="col-md-6 col-sm-12">
    <div class="">

    <form class="" role="search" method='POST' action="">
        <div class="form-group">
        {% csrf_token %}
        <label>User Name</label>
        <input type="text" name='username' class='form-control' placeholder='Username'>
        <br>
        <label>Current Password</label>
        <input type="password" name='password' class='form-control' placeholder='Password'>
        <br>
        <label>New Password</label>
        <input type="password" name='new-password' class='form-control' placeholder='New Password'>

        </div>
        <button type="submit" class="btn btn-black">Reset</button>
        <br>
        <br>
        {% if error %}
          <div class="alert alert-danger" role="alert">
          {{error}}
          </div>  
          {% elif msg %}
          <div class="alert alert-info" role="alert">
            {{msg}}
          </div>    
        {% endif %} 
    </form>

    </div>
</div>
   
 
         
         
{% endblock content %}
{% block js %} 
<!-- <script src="{% static '/js/edit_company_form.js' %}"></script> -->
{% endblock js %}
